{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
    <div class="card mx-auto w-50 mt-5 text-center">
        <div class="card-header">
            <h2>{% trans "Login" %}</h2>
        </div>
        <div class="card-body">
            <p>
                {% blocktrans %}
                    If you have not created an account yet, then please
                    <a href="{{ signup_url }}">sign up</a> first.
                {% endblocktrans %}
            </p>
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
                <a class="btn btn-secondary"
                   href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </form>
        </div>
    </div>
{% endblock %}
