{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
    <div class="card mx-auto w-50 mt-5 text-center">
        <div class="card-header">
            <h2>{% trans "Logout" %}</h2>
        </div>
        <div class="card-body">
            <p>{% trans 'Are you sure you want to logout?' %}</p>
            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <button class="btn btn-primary" type="submit">{% trans 'Yes' %}</button>
                <button class="btn btn-secondary" type="button" onclick="history.back()">{% trans 'No' %}</button>
            </form>
        </div>
    </div>
{% endblock %}
