{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="card mx-auto w-50 mt-5 text-center">
        <div class="card-header">
            <h2>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>
        </div>
        <div class="card-body">
            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.
                    Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                <a class="btn btn-primary" href="{% url 'index' %}" role="button">
                    Back to Top
                </a>
            {% else %}
                {% if form %}
                    <form method="POST" action="{{ action_url }}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input class="btn btn-primary" type="submit" name="action" value="{% trans 'Change Password' %}"/>
                    </form>
                {% else %}
                    <p>{% trans 'Your password is now changed.' %}</p>
                    <a class="btn btn-primary" href="{% url 'index' %}" role="button">
                        Back to Top
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
