{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="card mx-auto w-50 mt-5 text-center">
        <div class="card-header">
            <h2>{% trans "Password Reset" %}</h2>
        </div>
        <div class="card-body">
            {% if user.is_authenticated %}
                <p><strong>{% trans "Note" %}:</strong> {% blocktrans %}you are already logged in as {{ user }}.{% endblocktrans %}</p>
            {% endif %}

            <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>

            <a class="btn btn-primary" href="{% url 'index' %}" role="button">
                Back to Top
            </a>
        </div>
    </div>
{% endblock %}
