{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="card mx-auto w-50 mt-5 text-center">
        <div class="card-header">
            <h2>{% trans "Change Password" %}</h2>
        </div>
        <div class="card-body">
            <p>{% trans 'Your password is now changed.' %}</p>
            <a class="btn btn-primary" href="{% url 'index' %}" role="button">
                Back to Top
            </a>
        </div>
    </div>
{% endblock %}
