{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="card mx-auto w-50 mt-5 text-center">
        <div class="card-header">
            <h2>{% trans "Password Reset" %}</h2>
        </div>
        <div class="card-body">
            {% if user.is_authenticated %}
                <p><strong>{% trans "Note" %}:</strong> {% blocktrans %}you are already logged in as {{ user }}.{% endblocktrans %}</p>
            {% endif %}

            <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-primary" type="submit" value="{% trans 'Reset My Password' %}"/>
            </form>

            <p>{% blocktrans %}Please contact <a href="mailto:">us</a> if you have any trouble resetting your password.{% endblocktrans %}</p>
        </div>
    </div>
{% endblock %}
