{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <div class="card mx-auto w-50 mt-5 text-center">
        <div class="card-header">
            <h2>{% trans "Sign Up" %}</h2>
        </div>
        <div class="card-body">
            <p>
                {% blocktrans %}
                    Already have an account? Then please <a href="{{ login_url }}">sign in</a>.
                {% endblocktrans %}
            </p>
            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
                <button class="btn btn-secondary" type="button" onclick="history.back()">{% trans 'Back' %}</button>
            </form>
        </div>
    </div>
{% endblock %}
