{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="button-area">
        <a class="btn btn-primary" data-toggle="collapse" href="#dnd-area-wrapper" role="button"
           aria-expanded="false" aria-controls="dnd-area-wrapper">
            ファイルを追加
        </a>
        <a class="btn btn-secondary" data-toggle="collapse" href="#search-condition-wrapper" role="button"
           aria-expanded="true">
            検索条件
        </a>
    </div>

    <div class="collapse" id="dnd-area-wrapper">
        <div class="dnd-area dnd-area-out" id="dnd-area">
            <span>
                ファイルを追加する場合はここにドラッグするかクリックしてください。
            </span>
        </div>
    </div>

    <div class="collapse show" id="search-condition-wrapper">
        <table class="search-condition">
            <tbody>
            <tr>
                <td>経験年数</td>
                <td><input type="text" id="exp-min"></td>
                <td>〜</td>
                <td><input type="text" id="exp-max"></td>
            </tr>
            <tr>
                <td>年齢</td>
                <td><input type="text" id="age-min"></td>
                <td>〜</td>
                <td><input type="text" id="age-max"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <table class="table table-sm table-striped table-bordered table-hover" id="resume-files">
        <thead>
        <tr>
            <th>id</th>
            <th>登録日</th>
            <th>イニシャル</th>
            <th>経験年数</th>
            <th>年齢</th>
            <th>DL数</th>
            <th>ファイル名</th>
            <th style="text-align: center">URL</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for file in files %}
            <tr>
                <td>{{ file.id }}</td>
                <td>{{ file.created_at|date:"Y-m-d" }}</td>
                <td>{{ file.initials }}</td>
                <td>{{ file.years_of_experience }}</td>
                <td>{{ file.age }}</td>
                <td>{{ file.dl_count }}</td>
                {% if file.is_downloadable %}
                    <td><a href="{{ file.url }}" download>{{ file.name }}</a></td>
                    <td style="text-align: center">
                        <button>copy</button>
                    </td>
                    <td>{{ file.url }}</td>
                {% else %}
                    <td>{{ file.name }}</td>
                    <td></td>
                    <td></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                var exp_min = parseInt($('#exp-min').val(), 10);
                var exp_max = parseInt($('#exp-max').val(), 10);
                var exp = parseFloat(data[3]) || 0;
                var filtered = (isNaN(exp_min) && isNaN(exp_max)) ||
                    (isNaN(exp_min) && exp <= exp_max) ||
                    (exp_min <= exp && isNaN(exp_max)) ||
                    (exp_min <= exp && exp <= exp_max);

                var age_min = parseInt($('#age-min').val(), 10);
                var age_max = parseInt($('#age-max').val(), 10);
                var age = parseFloat(data[4]) || 0;
                filtered &= (isNaN(age_min) && isNaN(age_max)) ||
                    (isNaN(age_min) && age <= age_max) ||
                    (age_min <= age && isNaN(age_max)) ||
                    (age_min <= age && age <= age_max);

                return filtered
            }
        );
        $(function () {
            var table = $("#resume-files").DataTable({
                "columnDefs": [
                    {"visible": false, "targets": [0, 8]},
                    {"searchable": true, "targets": 6},
                    {"orderable": false, "targets": 7},
                ],
                "order": [[0, "desc"]],
                "language": {
                    "url": "{% static 'Japanese.json' %}"
                },
                stateSave: true,
            });
            $("#resume-files tbody").on("click", "tr", function (event) {
                var target = $(event.target);
                var data = table.row(this).data();
                if (target.is("button")) {
                    var ta = document.createElement("textarea");
                    ta.value = data[8];
                    document.body.appendChild(ta);
                    ta.select();
                    document.execCommand("copy");
                    ta.parentElement.removeChild(ta);
                    return;
                }
                if (target.is("a")) {
                    $.ajax({
                        type: "GET",
                        url: "/download/" + data[0]
                    })
                } else {
                    window.location.href = data[0] + "/edit";
                }
            });
            $('#exp-min, #exp-max, #age-min, #age-max').keyup(function () {
                table.draw();
            });
        });
        var CSRF_KEY_NAME="csrftoken=";
        var csrf = document.cookie.split(";").find(cookie=>{
            return cookie.trim().substr(0, CSRF_KEY_NAME.length) === CSRF_KEY_NAME;
        });
        var file_dz = new Dropzone("#dnd-area", {
            url: "/upload",
            params: {"is_downloadable": "true"},
            headers: {"X-CSRFToken": csrf.trim().substring(CSRF_KEY_NAME.length)},
            acceptedFiles: ".xls,.xlsx,.doc,.docx,.pdf"
        });
        file_dz.on("success", function (file) {
            location.reload();
        });
        file_dz.on("error", function (file, errorMessage) {
            if (typeof errorMessage === "string") {
                alert(errorMessage);
            }
            console.dir(errorMessage);
        });
        file_dz.on("complete", function (file) {
            file_dz.removeFile(file);
        });
    </script>
{% endblock %}
