html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 40px;
}

.footer {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 40px;
    padding: 0 20px;
    background-color: #f5f5f5;
}

.button-area {
    margin: 20px 0;
}

.search-condition {
    border-collapse: separate;
    border-spacing: 5px;
    border: 0;
    margin: 0 0 20px;
}

.search-condition td {
    padding: 5px;
}

.search-condition input {
    width: 100px;
}

.dnd-area {
    color: #ccc;
    height: 150px;
    margin: 0 0 20px;
    border-style: dashed;
    border-width: 2px;
    line-height: 150px;
    text-align: center;
    cursor: pointer;
}

.dnd-area-over {
    border-color: #0000FF;
}

.dnd-area-over span {
    opacity: 0.2;
}

.dnd-area-out {
    border-color: #ccc;
}

.dnd-area-out span {
    opacity: 1;
}
