{% extends "bootstrap4/bootstrap4.html" %}
{% load bootstrap4 %}
{% load static %}

{% block bootstrap4_title %}
    {% block title %}経歴書管理システム{% endblock %}
{% endblock %}

{% block bootstrap4_extra_head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- DropzoneJS -->
    <script src="{% static 'js/dropzone.js' %}"></script>
    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}">
    <script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
{% endblock %}

{% block bootstrap4_content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 1rem;">
        <a class="navbar-brand" href="/">経歴書管理システム</a>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">ログアウト</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">サインアップ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">ログイン</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/admin">管理者</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        {% if messages %}
            {% bootstrap_messages messages %}
        {% endif %}
        {% block content %}(no content){% endblock %}
    </div>
{% endblock %}

{% block bootstrap4_after_content %}
    <footer>
        <div class="footer">
            <span class="ml-auto text-muted">&copy; 2019 io-sys corp.</span>
        </div>
    </footer>
{% endblock %}
